<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sillychat.in is the best place for conversation,chatting and discussion if you are worried about your privacy because it does not take anything from you and it is very simple to use, just make password protected room and invite your known persons and start your discussion and for more info visit about page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css" />
    <title>sillychat.in || Do your conversation, discussion,chatting privately and for more info visit about page
    </title>
    <script defer src="/js/home.js"></script>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup" id="room-creator">
                <% if(roomExistence.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= roomExistence%>
                    </div>
                <% }%>
                
                <% if(unauthorizedToken.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= unauthorizedToken%>
                    </div>
                <% }%>

                <% if(findingError.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn"
                            onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= findingError%>
                    </div>
                <% }%>

                <% if(roomDoesNotExist.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn"
                            onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= roomDoesNotExist%>
                    </div>
                <% }%>

                <% if(authentication.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn"
                            onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= authentication%>
                    </div>
                <% }%>

                <% if(incorrect.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn"
                            onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= incorrect%>
                    </div>
                <% }%>

                <% if(mailingError.length> 0) { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= mailingError%>
                    </div>
                <% }%>
                
                <form action="/room" method="POST" class="sign-in-form" id="validationID">
                    <h2 class="title">Create room</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Room Name"
                            name="room" required id="roomCreatorName"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="roomPassword"
                        placeholder="Password" id="passCreator" required />
                        <i class="fas fa-eye" onclick="showPassword('passCreator')"></i>
                    </div>
                    <input type="submit" value="Create Room"
                        class="btn solid" />
                </form>
                <form action="/findroom" method="POST"
                    class="sign-up-form">
                    <h2 class="title">Join a Room</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Room Name"
                            name="room" required/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password"
                            name="roomPassword" id="roomFinderPass" required />
                        <i class="fas fa-eye" onclick="showPassword('roomFinderPass')"></i>
                    </div>
                    <input type="submit" class="btn" value="join" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Sillychat</h3>
                    <p>
                        sillychat.in is the coolest place for secured conversation and discussion.
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Join Room
                    </button>
                </div>
                <img src="/svg/homebg.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel" id="login">
                <div class="content">
                    <p id="right-panel-description">sillychat.in is the coolest place for secured conversation and discussion.</p>
                    <br>
                    <button class="btn transparent" id="sign-in-btn">
                        Create Room
                    </button>
                </div>
                <img src="/svg/chatbg.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    
    <footer>
        <%- include ('footer') -%>
    </footer>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</body>
</html>